$main-color: #2ab896;
$secondary-color: #28b796;
$red-color: #ff4949;
$font-color: #333333;
$shadow: 3px 2px 6px 2px rgba(125, 125, 125, 0.15);

// Responsive Container
@media only screen and (max-width: 576px) {
  .container {
    width: 95%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 576px) {
  .container {
    width: 540;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    width: 720px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 992px) {
  .container {
    width: 960px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1200px) {
  .container {
    width: 1140px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1400px) {
  .container {
    width: 1320px;
    margin: 0 auto;
  }
}

// Base element
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $font-color;
}

h2 {
  margin: 0;
}

button {
  border: none;
  border-radius: 7px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;

  &:disabled {
    color: green;
  }

  &:hover {
    opacity: 80%;
  }
}

.input-field,
.select-field {
  text-align: left;
  margin: 7px 0;

  label {
    display: block;
    font-size: 14px;
    font-weight: 600;
  }

  input,
  select {
    width: 100%;
    box-sizing: border-box;
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid $main-color;
  }
}

.App {
  background-color: #fafafa;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// Header Component
header {
  background-color: $main-color;
  color: #ffffff;

  .container {
    display: flex;
    align-items: center;
  }
}

// Main content
.main-content {
  flex: 1;
  margin: 30px auto 60px;

  .title-section {
    margin-bottom: 20px;
  }

  .action-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .add-btn {
      background: $main-color;
      color: #ffffff;
    }

    .search-field {
      display: flex;
      align-items: center;
      background-color: #ffffff;
      border-radius: 5px;
      padding: 7px 10px;
      box-shadow: $shadow;
      -webkit-box-shadow: $shadow;
      -moz-box-shadow: $shadow;

      .search-input {
        border: none;

        &:focus {
          outline: none;
        }
      }

      .search-icon {
        color: $main-color;
      }
    }
  }
}

// Table Content
.table-section {
  overflow-x: auto;
  box-shadow: $shadow;
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  padding: 15px 25px;
  background-color: #ffffff;
  border-radius: 5px;

  table {
    width: 100%;
    border-spacing: 0;

    th {
      padding-top: 5px;
      text-align: left;

      &:hover {
        color: $main-color;
      }

      div {
        display: flex;
        align-items: center;

        span {
          margin-left: 3px;
          color: $main-color;
        }
      }
    }

    tbody {
      tr:hover {
        background-color: #f1f1f1;
      }
      td {
        padding: 15px 10px;
        font-size: 14px;
      }
    }
  }
}

.table-pagination {
  text-align: center;

  .page-controller {
    margin-top: 10px;

    input {
      border: 1px solid $main-color;
      padding: 5px;
      border-radius: 5px;
      width: 50px;
      text-align: center;
      margin-left: 5px;
    }
  }

  .btn-group {
    margin-top: 10px;

    button {
      margin: 0 5px;
      color: #333333;
    }
  }
}

.row-btn {
  display: flex;

  button {
    padding: 6px 8px;
  }

  .edit-btn {
    background-color: $main-color;
    margin-right: 3px;
  }

  .delete-btn {
    background-color: $red-color;
    margin-right: 5px;
  }
}

// Footer Section
footer {
  background-color: $secondary-color;
  color: #ffffff;
  height: 60px;
  display: flex;
  align-items: center;
  font-weight: 300;
  font-size: 12px;
  text-align: center;

  a {
    color: #ffffff;
  }
}

// Modals
.react-responsive-modal-modal {
  border-radius: 5px;
  padding: 0 !important;

  .modal-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    font-weight: 600;
    color: #ffffff;

    .close-modal {
      padding: 0;
      background-color: transparent;
    }
  }

  .delete-modal-title {
    background-color: $red-color;
    width: 300px;
  }

  .edit-modal-title {
    background-color: $main-color;
    width: 400px;
  }

  .modal-body {
    text-align: center;
    padding: 15px;

    .text-wrapper {
      margin-bottom: 20px;
      overflow-wrap: break-word;
    }

    .btn-group {
      display: flex;
      justify-content: space-evenly;
      margin-top: 15px;

      button {
        width: 100px;
      }

      .cancel-delete-btn {
        background-color: $main-color;
      }

      .confirm-delete-btn {
        background-color: $red-color;
      }

      .cancel-edit-btn {
        background-color: transparent;
        color: $secondary-color;

        &:hover {
          text-decoration: underline;
        }
      }

      .confirm-edit-btn {
        background-color: $main-color;
      }
    }

    form {
      display: flex;
      flex-direction: column;
    }
  }
}
